<div
  class="navbar-container h-20 flex content-center flex-wrap justify-between"
>
  <ul class="flex space-x-4">
    <li>
      <app-piletilevi-svg />
    </li>
    <li>
      <a class="text-lg font-bold leading-6">Back office</a>
    </li>
    <li>
      <a class="text-lg font-bold leading-6">Back office</a>
    </li>
    <li>
      <a class="text-lg font-bold leading-6">Reports</a>
    </li>
    <li>
      <a class="text-lg font-bold leading-6">Help</a>
    </li>
  </ul>
  <ul class="flex">
    <li>EN</li>
    <li>Name Surname |</li>
    <li>Noorsooteater</li>
  </ul>
</div>
