<div class="table-container bg-white">
  <table class="table-auto w-full p-10 text-left text-sm">
    <thead>
      <tr>
        <th class="px-8 py-4">Name</th>
        <th>Applies to</th>
        <th>Time period</th>
        <th>Discount amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discounts$ | async">
        <td class="text-violet font-bold p-8">{{ discount.name }}</td>
        <td>{{ discount.category }}</td>
        <td>{{ discount.timePeriod }}</td>
        <td>{{ discount.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
