<div class="table-container p-10 mt-3 bg-white">
  <table class="w-full text-left text-sm">
    <thead>
      <tr>
        <th class="pl-4">Name</th>
        <th>Applies to</th>
        <th>Time period</th>
        <th>Discount amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discounts$ | async">
        <td class="text-violet font-bold pl-1 pt-1 pb-8">
          {{ discount.name }}
        </td>
        <td class="pl-1 pt-1 pb-8">{{ discount.category }}</td>
        <td class="pl-1 pt-1 pb-8">{{ discount.timePeriod }}</td>
        <td class="pl-1 pt-1 pb-8">{{ discount.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-pagination></app-pagination>
