<app-table-tabs
  [activeDiscounts]="activeDiscounts.length"
  [upcomingDiscounts]="upcomingDiscounts.length"
  [archivedDiscounts]="archivedDiscounts.length"
  [onTabChange]="handleTabChange.bind(this)"
/>
<div class="table-container mb-9 mt-5 bg-white p-10">
  <table class="w-full text-left text-sm">
    <thead>
      <tr>
        <th class="pl-4">Name</th>
        <th>Applies to</th>
        <th>Time period</th>
        <th>Discount amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of getDiscountsPerPage()">
        <td class="text-violet-100 pb-8 pl-1 pt-1 font-bold">
          {{ discount.name }}
        </td>
        <td class="pb-8 pl-1 pt-1">{{ discount.category }}</td>
        <td class="pb-8 pl-1 pt-1">{{ discount.timePeriod }}</td>
        <td class="pl-1 pt-1">
          <div class="flex justify-between">
            <span class="pb-8">{{ discount.amount }}</span>
            <button class="px-2 py-3">
              <app-piletilevi-svg [name]="'edit'" />
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-pagination
  [totalItems]="filteredDiscounts.length"
  [pageSize]="pageSize"
  (pageChanged)="handlePageChange($event)"
/>
