<div class="pagination mb-16 flex justify-center">
  <button
    name="previous-page"
    class="border-gray-200 mr-4 h-8 w-8 rounded-md border bg-white"
    (click)="changePage(currentPage - 1)"
    [disabled]="currentPage === 1"
  >
    <app-icon [name]="'page-arrow-prev'" />
  </button>
  <span
    name="page-number"
    *ngFor="let pageNum of createArrayOfSize(totalPages)"
    [ngClass]="
      pageNum === currentPage
        ? 'text-black mr-4 font-medium'
        : 'text-violet-100 mr-4 font-medium'
    "
  >
    {{ pageNum }}
    <hr *ngIf="pageNum === currentPage" class="bg-black underline-height" />
  </span>
  <button
    name="next-page"
    class="border-gray-200 h-8 w-8 rounded-md border bg-white"
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    <app-icon [name]="'page-arrow-next'" />
  </button>
</div>