<div class="mt-4 flex h-10 justify-start">
  <div class="search-input-container mr-3">
    <input
      name="freeText"
      type="text"
      placeholder="Discount name, code"
      class="text-gray-350 placeholder-gray-350 px-2 py-3"
      [(ngModel)]="freeText"
    />
    <button class="clear bg-white" (click)="freeText = ''">
      <app-icon [name]="'close'" />
    </button>
    <button class="search cursor-default bg-white">
      <app-icon [name]="'search'" />
    </button>
  </div>
  <div class="dropdown-container mr-5 flex justify-between">
    <button
      (click)="openCategoriesDropdown()"
      class="border-gray-200 text-gray-350 flex items-center  w-full justify-between rounded-md border bg-white px-2 py-2 text-left"
    >
      @if (selectedCategories.length > 0) {
        {{ selectedCategories.join(", ") }}
      } @else {
        Applies to
      }
      <app-icon [name]="'arrow-down'" />
    </button>
    <div
      class="dropdown-content"
      *ngIf="isCategoriesDropdownOpen"
      (mouseleave)="closeCategoriesDropdown()"
    >
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label *ngFor="let c of allCategories" class="flex items-center">
        <app-checkbox
          [value]="c"
          [name]="'category'"
          [onChange]="setCategory.bind(this)"
          [isChecked]="selectedCategories.includes(c)"
        />
        <span class="ml-2 py-4">{{ c }}</span>
      </label>
    </div>
  </div>
  <button
    class="border-violet-200 text-violet-200 mr-5 rounded-md border-2 px-5 py-2 text-sm font-bold leading-5"
    (click)="searchDiscounts.bind(this)(freeText, selectedCategories)"
  >
    SEARCH
  </button>
  <button
    name="clear-filters"
    class="text-gray-350 text-sm font-bold leading-5"
    (click)="clearFilters.bind(this)()"
  >
    Clear All
  </button>
</div>
