$button-size: 20px;

.checkbox {
  height: $button-size;
  width: $button-size;
  border: 1px solid #D6D2E1;
  border-radius: 4px;
  background-color: #fff;
}

#checkbox-toggle:checked ~ .checkbox {
  height: $button-size;
  width: $button-size;
  background-color: #19005F;
  border-radius: 4px;
  text-align: center;
}

.hidden-checkbox{
  display: none;
}