<div class="mx-32">
  <app-breadcrumb />
  <div class="flex items-end justify-between">
    <h1 class="mt-5 font-title text-4xl font-bold text-almost-black">
      Discounts
    </h1>
    <button
      type="button"
      class="bg-violet-200 h-10 rounded-md px-5 font-bold text-white"
      (click)="openDiscountModal()"
    >
      CREATE NEW DISCOUNT
    </button>
  </div>
  <app-discount-filters [onSubmit]="handleFiltersSubmit.bind(this)" />
  <app-discount-table [filters]="filters" />
  <app-new-discount-modal
    *ngIf="isDiscountModalShown"
    [onClose]="closeDiscountModal.bind(this)"
  ></app-new-discount-modal>
</div>
