<app-modal [onClose]="onClose">
  <div modal-title>
    <h3 class="header-title text-blue-200 font-bold">Create discount</h3>
  </div>
  <div modal-body>
    <div>
      <input
        placeholder="Discount name"
        class="border-gray-200 placeholder-gray-350 text-gray-350 mb-5 mt-10 w-full rounded-md border px-2 py-3"
      />
    </div>
    <div class="dropdown-container flex justify-between">
      <button
        (click)="openCategoriesDropdown()"
        class="border-gray-200 text-gray-350 flex w-full justify-between rounded-md border px-2 py-3 text-left"
      >
        @if (selectedCategories.length > 0) {
          {{ selectedCategories.join(", ") }}
        } @else {
          Applies to
        }
        <app-icon [name]="'arrow-down'" />
      </button>
      <div
        class="dropdown-content"
        *ngIf="isCategoriesDropdownOpen"
        (mouseleave)="closeCategoriesDropdown()"
      >
        <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
        <label *ngFor="let c of allCategories" class="flex items-center">
          <app-checkbox
            [value]="c"
            [name]="'category'"
            [onChange]="setCategory.bind(this)"
            [isChecked]="selectedCategories.includes(c)"
          />
          <span class="ml-2 py-4">{{ c }}</span>
        </label>
      </div>
      <button
        name="close-button"
        class="bg-violet-200 ml-4 rounded-md px-4 py-3 font-bold text-white"
        type="button"
        (click)="onClose()"
      >
        ADD
      </button>
    </div>
  </div>
</app-modal>
