.header-title {
  font-size: 28px;
}

input:focus-visible {
  outline: none;
}

.dropdown-container {
  position: relative;
}

.dropdown-content {
  position: absolute;
  min-width: 394px;
  background-color: white;
  box-shadow: 0px 4px 21px -5px #00000040;
  z-index: 1;
  border-radius: 6px;
  top: 50px;
  
  label:hover {
    background-color: #EAE9EF;
  }
}